<h2>Please Login Below</h2>

<form method="post" action="/login">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <br>
    <label for="password">Password:</label>
    <input type="text" name="password">

    <input type="submit" id="submit">
</form>