<h2>Welcome, <%= @current_student.name%></h2>
<h3>Profile Info:</h3>

    <ol>
        <h4>Name:</h4>
        <%=@student.name%>
        <br> <br>
        <h4>Email:</h4>
        <%=@student.email%>
    </ol>

<br> <br>
<a href="/students/<%=@student.id%>/edit">Edit Profile</a>