<%# Index Route %>
<h2>Welcome, <%= @current_student.name%></h2>
<h3>Here are the current classes you can enroll in:</h3>



<%@courses.each do |c|%>
    <div>
        <%=c.name%>
    </div>
<%end%>
<br>
<p> Select here to add a course to your profile: </p>
<a href="/courses/new">Add Course</a>