<%# Index Route %>
<h2>Welcome, <%= @current_student.name%></h2>
<h3>Here are the current classes:</h3>



<%@course.each do |c|%>
    <div>
        <%=c.name%>
    </div>
<%end%>
<br>
<p> Select here to add a course to the list and enroll: </p>
<a href="/courses/new">Add Course</a>