<h2> Edit Course </h2>

<form method="post" action="/courses/<%=@courses.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="name" value="<%=@courses.name%>">
  <input type="text" name="description" value="<%=@courses.description%>">
  <input type="submit" value="submit">
</form>