<h2>Hello, <%= @current_student.name%></h2>

<%@course.each do |c|%>
    <div>
        <a href="/courses/<%=c.id%>"><%=c.name%></a>
    </div>
<%end%>

<h3>Please enter a new course you would like to enroll in:</h3>

<form method="POST" action="/courses">
  
  <p>Name: <input type="text" name="name"></p>
  <p>Description: <input type="text" name="description"></p>
  
  <input type="submit" value="submit">

  
</form>

