<h2>Welcome, <%= @current_student.name%></h2>
<h3>Here are the classes you are enrolled in:</h3>


<%=binding.pry%>
<%Course.all.each do |c|%>
    <div>
    <%if c.user_id == @current_student.id%>
        <%=c.name%>

    <%end%>
    </div>
<%end%>