<h2>Welcome, <%= @current_student.name%></h2>
<h3>Here is are your new classes:</h3>
<br><br>

<%if @course.user_id == @current_student.id%>
    <div>
    <%Course.all.each do |c|%>
        <h4><%=c.name%></h4>
    <br>
        <p><%=c.description%></p>
    </div>
    <%end%>
<%else%>
    <h4>You Are Not Enrolled!</h4>
    
<%end%>

<br>

<a href="/courses/new">Add Course</a>
<a href="/courses/<%=@course.id%>/edit">Edit Course</a>