<p><%= @course.description%>

<form method="post" action="/courses/<%=@course.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Unenroll from course">
</form>

<a href="/courses/<%=@courses.id%>/edit">Edit course </a>