<h2>Welcome, <%= @current_student.name%></h2>
<h3>Here is are your new classes:</h3>
<br><br>
<%binding.pry%>
<%if @course.user_id == @current_student.id%>
    <%Course.all.each do |c|%>
    <div>
   
        <h4><%=c.name%></h4>
    <br>
        <p><%=c.description%></p>
    <%else%>
        <h5>You are not enrolled</h5>
    <%end%>
    <%end%>
    </div>
<%end%>

<br>

<a href="/courses/<%=@course.id%>/edit">Edit Course</a>